<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>监控首页</title>
    <style>
        header{height: 70px;color: aliceblue;background-color: darkcyan;font-family: "微软雅黑 Light";font-size:45px;}
        #head{font-size: 30px}
        #zoulan{width:400px;color:mediumblue;background-color: gold}
    </style>
</head>
<body>
<header>
    监控事件系统
</header>
<div id="zoulan">
<ul>
    <li id="head">
        事件记录
        <ul>
            <li>
                主机故障记录
            </li>
            <li>
                支付故障记录
            </li>
            <li>
                网络故障记录
            </li>
            <li>
                业务故障记录
            </li>
            <li>
                短信通道故障记录
            </li>
            <li>
                硬件保修记录
            </li>
            <li>
                check_mk告警关闭记录
            </li>
            <li>
                其他故障记录
            </li>
        </ul>
    </li>
        <li id="head">
        故障记录查询
        <ul>
            <li>
                主机故障记录查询
            </li>
            <li>
                支付故障记录查询
            </li>
            <li>
                网络故障记录查询
            </li>
            <li>
                业务故障记录查询
            </li>
            <li>
                短信通道故障记录查询
            </li>
            <li>
                硬件保修记录查询
            </li>
            <li>
                check_mk告警关闭查询
            </li>
            <li>
                其他故障记录查询
            </li>
        </ul>
    </li>
</ul>
</div>
</body>
</html>